<!-- Desktop Sidebar -->
<div
  class="fixed top-14 max-w-xs bottom-0 left-0 pl-96 w-full overflow-y-auto bg-white px-4 pt-6 pb-4 ring-1 shadow-lg shadow-zinc-900/10 ring-zinc-900/7.5 duration-500 ease-in-out data-closed:-translate-x-full min-[416px]:max-w-sm sm:px-6 sm:pb-10 dark:bg-zinc-900 dark:ring-zinc-800">
  <div class="flex h-16 items-center">
    <img class="h-12 w-auto" src="images/logo.png" alt="AlcPay" />
  </div>
  <ui-navigation />
  <!-- <nav class="flex flex-1 flex-col">
    <ul class="flex flex-1 flex-col gap-y-7">
      <li>
        <ul class="-mx-2 space-y-2 mt-4">
          <li *ngFor="let item of mainNavigation">
            <a
              [routerLink]="[item.link]"
              routerLinkActive="text-emerald-600 bg-gray-50"
              [routerLinkActiveOptions]="{ exact: false }"
              class="text-lg font-semibold group mb-1 flex cursor-pointer gap-x-3 rounded-lg p-2 leading-6 transition-colors duration-100 text-black, hover:text-emerald-600 focus:text-emerald-600 active:text-emerald-600 active:bg-gray-50">
              <span class="icon outlined size-6 shrink-0">{{ item.icon }}</span>
              {{ item.label }}
            </a>
          </li>
        </ul>
        <hr class="my-4" />
        <ul class="-mx-2 space-y-2 mt-4">
          <li *ngFor="let item of setupNavigation">
            <a
              [routerLink]="[item.link]"
              routerLinkActive="text-emerald-600 bg-gray-50"
              [routerLinkActiveOptions]="{ exact: false }"
              class="text-lg font-semibold group mb-1 flex cursor-pointer gap-x-3 rounded-lg p-2 leading-6 transition-colors duration-100 text-black, hover:text-emerald-600 focus:text-emerald-600 active:text-emerald-600 active:bg-gray-50">
              {{ item.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav> -->
</div>

<div class="lg:pl-80">
  <div
    class="shadow-sm sticky top-0 z-0 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 sm:gap-x-6 sm:px-6 lg:px-8">
    <button
      type="button"
      class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
      (click)="toggleMobileSidebar()">
      <span class="sr-only">Open sidebar</span>
      <svg
        class="size-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        data-slot="icon">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>

    <!-- Separator -->
    <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

    <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
      <!-- Search Bar (Super Admin Only) Enables Brand Switcher -->
      <form class="grid flex-1 grid-cols-1" action="#" method="GET">
        <ng-container *ngIf="isGuest">
          <select
            id="select-a-brand"
            name="select-a-brand"
            aria-label="Select a Brand"
            class="outline-hidden col-start-1 row-start-1 block size-full border-0 bg-white pl-8 text-base text-gray-900 outline-0 placeholder:text-gray-400 focus:border-0 focus:outline-none focus:ring-0 sm:text-sm/6"
            placeholder="Select a Brand">
            <option value="1">Volley</option>
            <option value="2">Shotty's</option>
            <option value="3">Jack Daniels</option>
            <option value="4">Other/Unlisted</option>
          </select>

          <!-- Search Icon -->
          <svg
            class="pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon">
            <path
              fill-rule="evenodd"
              d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
              clip-rule="evenodd" />
          </svg>
        </ng-container>
      </form>

      <!-- Right Side Buttons -->
      <div class="flex items-center gap-x-4 lg:gap-x-6">
        <!-- Customer Support button -->
        <button
          type="button"
          class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
          <span class="sr-only">Customer Support</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
          </svg>
        </button>

        <!-- Notifications button -->
        <button
          type="button"
          class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
          <span class="sr-only">View Notifications</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
          </svg>
        </button>

        <!-- Separator -->
        <div
          class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-900/10"
          aria-hidden="true"></div>

        <!-- Profile dropdown -->
        <div class="relative">
          <button
            type="button"
            class="-m-1.5 flex items-center p-1.5"
            id="user-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
            (click)="toggleDropdown($event)">
            <span class="sr-only">Open User Menu</span>
            <img
              class="size-8 rounded-full bg-gray-50"
              src="./images/avatar.png"
              alt="" />
            <span class="hidden lg:flex lg:items-center">
              <span
                class="ml-4 font-semibold text-gray-950 hover:text-emerald-600 active:text-emerald-600"
                aria-hidden="true"
                >{{ firstAndLast }}</span
              >
              <svg
                class="ml-2 size-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
                data-slot="icon">
                <path
                  fill-rule="evenodd"
                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                  clip-rule="evenodd" />
              </svg>
            </span>
          </button>
          <div
            *ngIf="isDropdownOpen"
            class="absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 ring-1 shadow-lg ring-gray-900/5 focus:outline-hidden"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1">
            <!-- Active: "bg-gray-50 outline-hidden", Not Active: "" -->
            <a
              [routerLink]="['/profile']"
              routerLinkActive="bg-gray-50 outline-hidden text-emerald-600"
              class="px-3 py-1 text-gray-950 font-semibold hover:bg-gray-50 active:bg-gray-50 hover:text-emerald-600 active:text-emerald-600 flex items-center"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0">
              <span class="icon outlined">person</span>
              <span class="ml-2">Profile</span>
            </a>
            <a
              (click)="logout()"
              href="#"
              class="px-3 py-1 font-semibold text-gray-950 hover:bg-gray-50 hover:text-emerald-600 active:text-emerald-600 active:bg-gray-50 flex items-center"
              role="menuitem"
              tabindex="-1"
              id="user-logout-menu-item">
              <span class="icon outlined">logout</span>
              <span class="ml-2">Logout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-28"></div>
  <!-- Main Content -->
  <div class="bg-gray-100 min-h-screen h-full text-gray-950 -mt-28">
    <main class="min-h-screen overflow-y-auto overflow-x-clip">
      <div class="mx-auto max-w-8xl px-4 py-6 sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer>
      <div class="text-center -mt-28">
        <p class="text-sm text-gray-800">
          &copy; <span id="current-year"></span> AlcPay. All rights reserved.
        </p>
      </div>
    </footer>
  </div>
</div>
