<div class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-sm space-y-10">
    <div>
      <div class="mb-6 flex justify-center">
        <img
          src="../../../assets/images/logo.png"
          alt="AlcPay Logo"
          class="h-16 w-auto" />
      </div>
      <h2 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
    <form
      class="form-login space-y-6"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmitLoginForm()">
      <div>
        <div class="col-span-2">
          <input
            id="inputEmail"
            name="email"
            type="email"
            autocomplete="email"
            required
            aria-label="Email address"
            class="block w-full rounded-t-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:relative focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm"
            placeholder="Email address"
            formControlName="email"
            [ngClass]="{ 'border-red-500': submitted && f.email.errors }"
            autofocus
            [attr.aria-required]="true"
            [attr.aria-invalid]="submitted && f.email.errors ? 'true' : 'false'" />
        </div>
        <div class="-mt-px">
          <input
            id="inputPassword"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            aria-label="Password"
            class="block w-full rounded-b-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:relative focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'border-red-500': submitted && f.password.errors }"
            [attr.aria-invalid]="submitted && f.password.errors ? 'true' : 'false'" />
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex gap-3">
          <div class="flex h-6 shrink-0 items-center">
            <input
              id="rememberMe"
              name="rememberMe"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500"
              formControlName="rememberMe"
              (change)="updateRememberMe($event)"
              checked="f.rememberMe.value"
              role="switch" />
          </div>
          <label
            for="rememberMe"
            class="block text-sm text-gray-900"
            >Remember me</label
          >
        </div>

        <div class="text-sm">
          <a
            href="#"
            class="font-semibold text-indigo-600 hover:text-indigo-500"
            >Forgot password?</a
          >
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Sign in
        </button>
      </div>
    </form>

    <p class="text-center text-sm text-gray-500">
      Not a customer?
      <a
        href="#"
        class="font-semibold text-indigo-600 hover:text-indigo-500"
        (click)="navToSignUpForm()"
        >Sign up to get started</a
      >
    </p>
  </div>
</div>
