/**
 * MyComponentName
 *
 * My component does this and that. For this user it does these things.
 * Other users can not access this component.
 *
 * import: @alcpay/tailwind
 * path: themes/switcher.component.ts
 */

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer theme {
  :root {
    /* Alcpay Colors */
    --alcpay-brand-primary: var(--bg-emerald-700);
    --alcpay-brand-secondary: var(--bg-lime-700);
    /* Sidebar Colors */
    --sidebar-bg: #ffffff;
    --sidebar-content: var(--text-gray-800);
    /* Sidebar Nav Links */
    --sidebar-nav-link-content: var(--text-gray-800);
    --sidebar-nav-link-content-hover: var(--text-gray-900);
    --sidebar-nav-link-content-active: var(--text-gray-950);
    /* Sidebar Nav Links Background */
    --sidebar-nav-link-bg: none;
    --sidebar-nav-link-bg-hover: rgba(0, 0, 0, 0.04);
    --sidebar-nav-link-bg-active: var(--color-indigo-500);
    /* Sidebar Font Weight & Size */
    --sidebar-nav-link-font-size: 18px;
    --sidebar-nav-link-font-weight: 500;

    --main-bg: #ffffff;
    --main-content: var(--text-gray-950);
  }
}
