:root {
    /* --color-brand-primary: var(--color-emerald-500);
    --color-brand-alternate: var(--color-gray-900);
    --color-info: var(--color-indigo-500);
    --color-success: var(--color-emerald-600);
    --color-warning: var(--color-yellow-500);
    --color-error: var(--color-red-500);
    --color-neutral: var(--color-gray-500);
    --color-background: var(--color-white);
    --color-surface: var(--color-gray-50);
    --bg-dark: var(--color-gray-900);
    --bg-light: var(--color-gray-50);
    --border-color: var(--color-gray-200);
    --border-color-hover: var(--color-gray-300);
    --border-color-active: var(--color-gray-400);
    --border-color-focus: var(--color-gray-500);
    --default-transition: all 0.2sease-in-out;
    --line-height-base: 1.5;
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-lg: 1.75;
    --line-height-xl: 2;
    --line-height-2xl: 2.5;  */
}