@import 'material-icons/iconfont/outlined.css';
@import 'material-icons/iconfont/filled.css';

/* Tailwind directives */

@tailwind base;
@tailwind components;
@tailwind utilities;



.mi-outlined {
  font-family: 'Material Icons Outlined';
  font-size: inherit;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.mi-filled {
  font-family: 'Material Icons';
  font-size: inherit;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.mi-light {
  font-weight: 200;
}

.mi-bold {
  font-weight: 700;
}

:root {
  --font-family-sans: 'Inter', sans-serif;
  --font-family-display: 'Satoshi', sans-serif;
  --font-size-base: 16px;
}

html, body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: 400;
  color: var(--color-gray-900);
}

/**
 * Button styles for various button types used in the application.
 * These styles are applied using Tailwind CSS utility classes.
 */

.btn {
  @apply !cursor-pointer inline-block px-4 py-2 rounded-md text-white font-medium transition-all duration-300 ease-in-out;
  @apply hover:border-0 active:border-0 active:ring-0 active:ring-offset-0 active:ring-offset-transparent;
  @apply focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-offset-transparent;
}

.btn .icon {
  font-family: 'Material Icons Outlined';
  font-size: inherit;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: inherit;
}

.btn-primary {
  @apply bg-gradient-to-r from-green-500 to-green-600;
  @apply hover:from-green-600 hover:to-green-700;
  @apply active:from-green-700 active:to-green-800;
}

.btn-default {
  @apply bg-gray-200;
  @apply text-gray-900;
  @apply hover:bg-gray-300;
  @apply active:bg-gray-400;
}

.btn-sm {
  @apply text-sm px-3 py-1;
}

.btn-lg {
  @apply text-lg px-5 py-3;
}

.btn-block {
  @apply w-full;
}

.btn-icon {
  @apply flex items-center justify-center;
}

.btn-outline {
  @apply bg-white;
  @apply hover:bg-gray-50;
  @apply active:bg-gray-100;
  @apply outline-2 outline-gray-500;
  @apply active:outline-2 active:outline-gray-500;
  @apply focus:outline-2 focus:outline-gray-500;
  @apply hover:outline-2 hover:outline-gray-500;
  @apply text-gray-900;
  @apply hover:text-gray-900;
  @apply active:text-gray-900;
}

h1 {
  @apply !text-4xl font-semibold;
  @apply text-gray-900;
}

h2 {
  @apply !text-3xl font-semibold;
  @apply text-gray-900;
}

h3 {
  @apply !text-2xl font-semibold;
  @apply text-gray-900;
}

h4 {
  @apply !text-xl font-semibold;
  @apply uppercase;
  @apply text-gray-500;
}

h5 {
  @apply !text-lg font-bold;
  @apply uppercase;
  @apply text-gray-500;
}

h6 {
  @apply !text-sm font-bold;
  @apply uppercase;
  @apply text-gray-500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.card {
  padding: 2em;
}

.logo {
  @apply box-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
